USE [PalWorldDatabase]
GO
/****** Object:  User [Birdygamer]    Script Date: 1/1/2026 6:44:40 PM ******/
CREATE USER [Birdygamer] FOR LOGIN [Birdygamer] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [PalSpeciesManager]    Script Date: 1/1/2026 6:44:40 PM ******/
CREATE ROLE [PalSpeciesManager]
GO
/****** Object:  DatabaseRole [PalStatsManager]    Script Date: 1/1/2026 6:44:40 PM ******/
CREATE ROLE [PalStatsManager]
GO
/****** Object:  DatabaseRole [PlayerManager]    Script Date: 1/1/2026 6:44:40 PM ******/
CREATE ROLE [PlayerManager]
GO
ALTER ROLE [PalSpeciesManager] ADD MEMBER [Birdygamer]
GO
ALTER ROLE [PalStatsManager] ADD MEMBER [Birdygamer]
GO
ALTER ROLE [PlayerManager] ADD MEMBER [Birdygamer]
GO
/****** Object:  Table [dbo].[PalSpecies]    Script Date: 1/1/2026 6:44:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PalSpecies](
	[SpeciesID] [smallint] NOT NULL,
	[PalName] [varchar](50) NOT NULL,
	[PalDescription] [text] NOT NULL,
	[PalBaseHP] [smallint] NOT NULL,
	[PalBaseATK] [smallint] NOT NULL,
	[PalBaseDEF] [smallint] NOT NULL,
	[PalMovementSpeed] [smallint] NOT NULL,
	[WorkTypeID] [smallint] NULL,
	[PalPrimaryType] [varchar](10) NOT NULL,
	[PalSecondaryType] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[SpeciesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[NeutralPals]    Script Date: 1/1/2026 6:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[NeutralPals]
AS
SELECT *
FROM PalSpecies
WHERE PalPrimaryType = 'Neutral';
GO
/****** Object:  View [dbo].[GrassPals]    Script Date: 1/1/2026 6:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GrassPals]
AS
SELECT *
FROM PalSpecies
WHERE PalPrimaryType = 'Grass';
GO
/****** Object:  Table [dbo].[WorkType]    Script Date: 1/1/2026 6:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkType](
	[WorkTypeID] [smallint] NOT NULL,
	[WorkNameID] [smallint] NULL,
	[WorkNameID2] [smallint] NULL,
	[WorkNameID3] [smallint] NULL,
	[WorkNameID4] [smallint] NULL,
	[WorkNameID5] [smallint] NULL,
	[WorkNameID6] [smallint] NULL,
	[WorkNameID7] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[AllWorkTypes]    Script Date: 1/1/2026 6:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[AllWorkTypes]
AS
SELECT *
FROM WorkType
GO
/****** Object:  View [dbo].[AllPalSpecies]    Script Date: 1/1/2026 6:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[AllPalSpecies]
AS
SELECT *
FROM PalSpecies;
GO
/****** Object:  Table [dbo].[WorkName]    Script Date: 1/1/2026 6:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkName](
	[WorkNameID] [smallint] IDENTITY(1,1) NOT NULL,
	[WorkName] [varchar](25) NOT NULL,
	[WorkLevel] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkNameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[AllWorkNames]    Script Date: 1/1/2026 6:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[AllWorkNames]
AS
SELECT *
FROM WorkName;
GO
/****** Object:  View [dbo].[FirePals]    Script Date: 1/1/2026 6:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[FirePals]
AS
SELECT *
FROM PalSpecies
WHERE PalPrimaryType = 'Fire';
GO
/****** Object:  View [dbo].[IcePals]    Script Date: 1/1/2026 6:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[IcePals]
AS
SELECT *
FROM PalSpecies
WHERE PalPrimaryType = 'Ice';
GO
/****** Object:  View [dbo].[WaterPals]    Script Date: 1/1/2026 6:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[WaterPals]
AS
SELECT *
FROM PalSpecies
WHERE PalPrimaryType = 'Water';
GO
/****** Object:  View [dbo].[ElectricPals]    Script Date: 1/1/2026 6:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ElectricPals]
AS
SELECT *
FROM PalSpecies
WHERE PalPrimaryType = 'Electric';
GO
/****** Object:  View [dbo].[DarkPals]    Script Date: 1/1/2026 6:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DarkPals]
AS
SELECT *
FROM PalSpecies
WHERE PalPrimaryType = 'Dark';
GO
/****** Object:  View [dbo].[DragonPals]    Script Date: 1/1/2026 6:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DragonPals]
AS
SELECT *
FROM PalSpecies
WHERE PalPrimaryType = 'Dragon';
GO
/****** Object:  View [dbo].[GroundPals]    Script Date: 1/1/2026 6:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GroundPals]
AS
SELECT *
FROM PalSpecies
WHERE PalPrimaryType = 'Ground';
GO
/****** Object:  Table [dbo].[Base]    Script Date: 1/1/2026 6:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Base](
	[BaseID] [smallint] NOT NULL,
	[PlayerID] [int] NULL,
	[BaseNumber] [smallint] NULL,
	[BaseCoordinateXLine] [smallint] NULL,
	[BaseCoordinateYLine] [smallint] NULL,
	[BaseCoordinateZLine] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[BaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PalIndividual]    Script Date: 1/1/2026 6:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PalIndividual](
	[IndividualID] [int] NOT NULL,
	[SpeciesID] [smallint] NULL,
	[PalNickname] [varchar](50) NULL,
	[PalLevel] [smallint] NULL,
	[PalHunger] [smallint] NULL,
	[CurrentStatsID] [int] NULL,
	[BaseID] [smallint] NULL,
	[SoulsID] [smallint] NULL,
	[PassiveID] [smallint] NULL,
	[PotentialID] [smallint] NULL,
	[PalEssenceLevel] [smallint] NULL,
	[PalTrustLevel] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[IndividualID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PalSouls]    Script Date: 1/1/2026 6:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PalSouls](
	[SoulsID] [smallint] NOT NULL,
	[SoulStatHP] [decimal](18, 0) NULL,
	[SoulStatATK] [decimal](18, 0) NULL,
	[SoulStatDEF] [decimal](18, 0) NULL,
	[SoulStatWORK] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[SoulsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passives]    Script Date: 1/1/2026 6:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passives](
	[PassiveID] [smallint] NOT NULL,
	[PassiveName] [varchar](25) NULL,
	[PassiveRarity] [varchar](25) NULL,
	[PassiveStatHP] [decimal](18, 0) NULL,
	[PassiveStatATK] [decimal](18, 0) NULL,
	[PassiveStatDEF] [decimal](18, 0) NULL,
	[PassiveStatSTAM] [decimal](18, 0) NULL,
	[PassiveStatWORK] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[PassiveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Player]    Script Date: 1/1/2026 6:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[PlayerID] [int] NOT NULL,
	[PlayerName] [varchar](50) NULL,
	[PlayerLevel] [smallint] NULL,
	[PlayerEXP] [int] NULL,
	[PlayerNextEXP] [int] NULL,
	[PlayerHP] [smallint] NULL,
	[PlayerSTAM] [smallint] NULL,
	[PlayerATK] [smallint] NULL,
	[PlayerDEF] [smallint] NULL,
	[PlayerWORK] [smallint] NULL,
	[WorkTypeID] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Potential]    Script Date: 1/1/2026 6:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Potential](
	[PotentialID] [smallint] IDENTITY(1,1) NOT NULL,
	[PotentialHP] [smallint] NULL,
	[PotentialATK] [smallint] NULL,
	[PotentialDEF] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[PotentialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stats]    Script Date: 1/1/2026 6:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stats](
	[CurrentStatsID] [int] NOT NULL,
	[CurrentHP] [smallint] NULL,
	[CurrentATK] [smallint] NULL,
	[CurrentDEF] [smallint] NULL,
	[CurrentWORK] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[CurrentStatsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkNameWorkType]    Script Date: 1/1/2026 6:44:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkNameWorkType](
	[WorkTypeID] [smallint] NOT NULL,
	[WorkNameID] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkTypeID] ASC,
	[WorkNameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Base] ([BaseID], [PlayerID], [BaseNumber], [BaseCoordinateXLine], [BaseCoordinateYLine], [BaseCoordinateZLine]) VALUES (1, 1, 1, 873, 30, 194)
GO
INSERT [dbo].[PalIndividual] ([IndividualID], [SpeciesID], [PalNickname], [PalLevel], [PalHunger], [CurrentStatsID], [BaseID], [SoulsID], [PassiveID], [PotentialID], [PalEssenceLevel], [PalTrustLevel]) VALUES (1, 10, N'Ragnahawk', 58, 475, 1, 1, 1, 1, 2, 1, 10)
INSERT [dbo].[PalIndividual] ([IndividualID], [SpeciesID], [PalNickname], [PalLevel], [PalHunger], [CurrentStatsID], [BaseID], [SoulsID], [PassiveID], [PotentialID], [PalEssenceLevel], [PalTrustLevel]) VALUES (2, 24, N'Nyaffy', 60, 225, 2, 1, 3, 2, 3, 4, 10)
INSERT [dbo].[PalIndividual] ([IndividualID], [SpeciesID], [PalNickname], [PalLevel], [PalHunger], [CurrentStatsID], [BaseID], [SoulsID], [PassiveID], [PotentialID], [PalEssenceLevel], [PalTrustLevel]) VALUES (3, 28, N'Daze', 60, 300, 3, 1, 3, 3, 4, 4, 10)
GO
INSERT [dbo].[PalSouls] ([SoulsID], [SoulStatHP], [SoulStatATK], [SoulStatDEF], [SoulStatWORK]) VALUES (1, CAST(0 AS Decimal(18, 0)), CAST(30 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(-30 AS Decimal(18, 0)))
INSERT [dbo].[PalSouls] ([SoulsID], [SoulStatHP], [SoulStatATK], [SoulStatDEF], [SoulStatWORK]) VALUES (2, CAST(30 AS Decimal(18, 0)), CAST(30 AS Decimal(18, 0)), CAST(30 AS Decimal(18, 0)), CAST(30 AS Decimal(18, 0)))
INSERT [dbo].[PalSouls] ([SoulsID], [SoulStatHP], [SoulStatATK], [SoulStatDEF], [SoulStatWORK]) VALUES (3, CAST(60 AS Decimal(18, 0)), CAST(60 AS Decimal(18, 0)), CAST(60 AS Decimal(18, 0)), CAST(60 AS Decimal(18, 0)))
GO
INSERT [dbo].[PalSpecies] ([SpeciesID], [PalName], [PalDescription], [PalBaseHP], [PalBaseATK], [PalBaseDEF], [PalMovementSpeed], [WorkTypeID], [PalPrimaryType], [PalSecondaryType]) VALUES (1, N'Lamball', N'A walk up a hill tends to end with this Pal tumbling back down. This causes it to become dizzy and unable to move, making it easy to capture and kill. As a result, this Pal has tumbled down to the very bottom of the food chain itself.', 70, 70, 70, 400, 1, N'Neutral', NULL)
INSERT [dbo].[PalSpecies] ([SpeciesID], [PalName], [PalDescription], [PalBaseHP], [PalBaseATK], [PalBaseDEF], [PalMovementSpeed], [WorkTypeID], [PalPrimaryType], [PalSecondaryType]) VALUES (2, N'Cattiva', N'At a glance it appears confident, but it is in fact weak and cowardly. Being toyed with by Cattiva is in many ways the greatest of disgraces.', 70, 70, 70, 400, 2, N'Neutral', NULL)
INSERT [dbo].[PalSpecies] ([SpeciesID], [PalName], [PalDescription], [PalBaseHP], [PalBaseATK], [PalBaseDEF], [PalMovementSpeed], [WorkTypeID], [PalPrimaryType], [PalSecondaryType]) VALUES (3, N'Chikipi', N'Extremely weak and far too delicious. It is one of the weakest Pals alongside Lamball. No matter how many are hunted, they just keep appearing.', 60, 60, 60, 375, 3, N'Neutral', NULL)
GO
INSERT [dbo].[Passives] ([PassiveID], [PassiveName], [PassiveRarity], [PassiveStatHP], [PassiveStatATK], [PassiveStatDEF], [PassiveStatSTAM], [PassiveStatWORK]) VALUES (1, N'WorkSlave', N'Small Buff', NULL, CAST(-30 AS Decimal(18, 0)), NULL, NULL, CAST(30 AS Decimal(18, 0)))
INSERT [dbo].[Passives] ([PassiveID], [PassiveName], [PassiveRarity], [PassiveStatHP], [PassiveStatATK], [PassiveStatDEF], [PassiveStatSTAM], [PassiveStatWORK]) VALUES (2, N'Sadist', N'SmallBuff', NULL, CAST(15 AS Decimal(18, 0)), CAST(-15 AS Decimal(18, 0)), NULL, NULL)
INSERT [dbo].[Passives] ([PassiveID], [PassiveName], [PassiveRarity], [PassiveStatHP], [PassiveStatATK], [PassiveStatDEF], [PassiveStatSTAM], [PassiveStatWORK]) VALUES (3, N'Lucky', N'Major Buff', NULL, CAST(15 AS Decimal(18, 0)), NULL, NULL, CAST(15 AS Decimal(18, 0)))
GO
INSERT [dbo].[Player] ([PlayerID], [PlayerName], [PlayerLevel], [PlayerEXP], [PlayerNextEXP], [PlayerHP], [PlayerSTAM], [PlayerATK], [PlayerDEF], [PlayerWORK], [WorkTypeID]) VALUES (1, N'Birdygamer', 58, 1000000, 480000, 4600, 320, 160, 760, 1500, NULL)
GO
SET IDENTITY_INSERT [dbo].[Potential] ON 

INSERT [dbo].[Potential] ([PotentialID], [PotentialHP], [PotentialATK], [PotentialDEF]) VALUES (1, 0, 0, 0)
INSERT [dbo].[Potential] ([PotentialID], [PotentialHP], [PotentialATK], [PotentialDEF]) VALUES (2, 62, 76, 63)
INSERT [dbo].[Potential] ([PotentialID], [PotentialHP], [PotentialATK], [PotentialDEF]) VALUES (3, 100, 23, 41)
SET IDENTITY_INSERT [dbo].[Potential] OFF
GO
INSERT [dbo].[Stats] ([CurrentStatsID], [CurrentHP], [CurrentATK], [CurrentDEF], [CurrentWORK]) VALUES (1, 7555, 765, 1033, 130)
INSERT [dbo].[Stats] ([CurrentStatsID], [CurrentHP], [CurrentATK], [CurrentDEF], [CurrentWORK]) VALUES (2, 12393, 1548, 1112, 156)
INSERT [dbo].[Stats] ([CurrentStatsID], [CurrentHP], [CurrentATK], [CurrentDEF], [CurrentWORK]) VALUES (3, 11702, 1651, 1332, 180)
GO
SET IDENTITY_INSERT [dbo].[WorkName] ON 

INSERT [dbo].[WorkName] ([WorkNameID], [WorkName], [WorkLevel]) VALUES (1, N'Kindling', 1)
INSERT [dbo].[WorkName] ([WorkNameID], [WorkName], [WorkLevel]) VALUES (2, N'Kindling', 2)
INSERT [dbo].[WorkName] ([WorkNameID], [WorkName], [WorkLevel]) VALUES (3, N'Kindling', 3)
SET IDENTITY_INSERT [dbo].[WorkName] OFF
GO
INSERT [dbo].[WorkType] ([WorkTypeID], [WorkNameID], [WorkNameID2], [WorkNameID3], [WorkNameID4], [WorkNameID5], [WorkNameID6], [WorkNameID7]) VALUES (1, 21, 51, 56, NULL, NULL, NULL, NULL)
INSERT [dbo].[WorkType] ([WorkTypeID], [WorkNameID], [WorkNameID2], [WorkNameID3], [WorkNameID4], [WorkNameID5], [WorkNameID6], [WorkNameID7]) VALUES (2, 21, 26, 36, 51, NULL, NULL, NULL)
INSERT [dbo].[WorkType] ([WorkTypeID], [WorkNameID], [WorkNameID2], [WorkNameID3], [WorkNameID4], [WorkNameID5], [WorkNameID6], [WorkNameID7]) VALUES (3, 26, 56, NULL, NULL, NULL, NULL, NULL)
GO
ALTER TABLE [dbo].[Base]  WITH CHECK ADD FOREIGN KEY([PlayerID])
REFERENCES [dbo].[Player] ([PlayerID])
GO
ALTER TABLE [dbo].[PalIndividual]  WITH CHECK ADD FOREIGN KEY([BaseID])
REFERENCES [dbo].[Base] ([BaseID])
GO
ALTER TABLE [dbo].[PalIndividual]  WITH CHECK ADD FOREIGN KEY([CurrentStatsID])
REFERENCES [dbo].[Stats] ([CurrentStatsID])
GO
ALTER TABLE [dbo].[PalIndividual]  WITH CHECK ADD FOREIGN KEY([PassiveID])
REFERENCES [dbo].[Passives] ([PassiveID])
GO
ALTER TABLE [dbo].[PalIndividual]  WITH CHECK ADD FOREIGN KEY([PotentialID])
REFERENCES [dbo].[Potential] ([PotentialID])
GO
ALTER TABLE [dbo].[PalIndividual]  WITH CHECK ADD FOREIGN KEY([SoulsID])
REFERENCES [dbo].[PalSouls] ([SoulsID])
GO
ALTER TABLE [dbo].[PalIndividual]  WITH CHECK ADD FOREIGN KEY([SpeciesID])
REFERENCES [dbo].[PalSpecies] ([SpeciesID])
GO
ALTER TABLE [dbo].[PalSpecies]  WITH CHECK ADD FOREIGN KEY([WorkTypeID])
REFERENCES [dbo].[WorkType] ([WorkTypeID])
GO
ALTER TABLE [dbo].[Player]  WITH CHECK ADD FOREIGN KEY([WorkTypeID])
REFERENCES [dbo].[WorkType] ([WorkTypeID])
GO
ALTER TABLE [dbo].[WorkNameWorkType]  WITH CHECK ADD FOREIGN KEY([WorkNameID])
REFERENCES [dbo].[WorkName] ([WorkNameID])
GO
ALTER TABLE [dbo].[WorkNameWorkType]  WITH CHECK ADD FOREIGN KEY([WorkTypeID])
REFERENCES [dbo].[WorkType] ([WorkTypeID])
GO
ALTER TABLE [dbo].[WorkType]  WITH CHECK ADD FOREIGN KEY([WorkNameID])
REFERENCES [dbo].[WorkName] ([WorkNameID])
GO
ALTER TABLE [dbo].[WorkType]  WITH CHECK ADD FOREIGN KEY([WorkNameID2])
REFERENCES [dbo].[WorkName] ([WorkNameID])
GO
ALTER TABLE [dbo].[WorkType]  WITH CHECK ADD FOREIGN KEY([WorkNameID3])
REFERENCES [dbo].[WorkName] ([WorkNameID])
GO
ALTER TABLE [dbo].[WorkType]  WITH CHECK ADD FOREIGN KEY([WorkNameID4])
REFERENCES [dbo].[WorkName] ([WorkNameID])
GO
ALTER TABLE [dbo].[WorkType]  WITH CHECK ADD FOREIGN KEY([WorkNameID5])
REFERENCES [dbo].[WorkName] ([WorkNameID])
GO
ALTER TABLE [dbo].[WorkType]  WITH CHECK ADD FOREIGN KEY([WorkNameID6])
REFERENCES [dbo].[WorkName] ([WorkNameID])
GO
ALTER TABLE [dbo].[WorkType]  WITH CHECK ADD FOREIGN KEY([WorkNameID7])
REFERENCES [dbo].[WorkName] ([WorkNameID])
GO
